<div id="clock-head" class="clock-head active"></div>
<div class="clock-grid">
  <div id="hour5" class="hour5">
    <!-- (5 hours) values-->
    <div class="hour active"></div>
    <div class="hour active"></div>
    <div class="hour active"></div>
    <div class="hour"></div>
  </div>
  <div id="hour1" class="hour1">
    <!-- (1 hour) values-->
    <div class="hour active"></div>
    <div class="hour active"></div>
    <div class="hour"></div>
    <div class="hour"></div>
  </div>
  <div id="min5" class="min5">
    <!-- (5 minutes) values-->
    <div class="min"></div>
    <div class="min"></div>
    <div class="min-mid"></div>
    <div class="min"></div>
    <div class="min"></div>
    <div class="min-mid"></div>
    <div class="min"></div>
    <div class="min"></div>
    <div class="min-mid"></div>
    <div class="min"></div>
    <div class="min"></div>
  </div>
  <div id="min1" class="min1">
    <!-- (1 minute) values-->
    <div class="min active"></div>
    <div class="min"></div>
    <div class="min"></div>
    <div class="min"></div>
  </div>
</div>
